<!DOCTYPE html>
<html lang="zxx">


<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
     
    <title>..:: QUẢN LÝ THƯ VIỆN ::..</title>

    <!-- Favicon -->
    <link href="/css/images/favicon.ico" rel="icon" type="image/x-icon" />
     
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="/css/style/font-awesome.min.css" rel="stylesheet" type="text/css" /> 
    <!-- Mobile Menu -->
    <link href="/css/style/mmenu.css" rel="stylesheet" />
    <link href="/css/style/mmenu.positioning.css" rel="stylesheet" /> 
    <!-- Stylesheet --> 
    <link href="/css/style.css" rel="stylesheet" />
   
</head>

<body class="layout-v2"> 
    <header id="header" class="navbar-wrapper">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="col-sm-12">
                        <!-- Header Topbar -->
                        <div class="header-topbar hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="topbar-info">
                                        <a href=""><i class="fa fa-phone"></i>0292 3820 967</a>
                                        <span>/</span>
                                        <a href="thuvien_tpct@cantho.gov.vn"><i class="fa fa-envelope"></i>thuvien_tpct@cantho.gov.vn</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="topbar-links">
                                        <a href="signin.html"><i class="fa fa-user"></i>Xin chào Thủ thư</a>
                                        <span>|</span>
                                        <div class="header-cart dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                <i>Thoát</i>
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="navbar-header">
                                        <div class="navbar-brand">
                                            <h1>
                                                <a href="index-2.html">
                                                    <img src="css/images/libraria-logo-v2.png" alt="LIBRARIA" /> 
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="navbar-collapse hidden-sm hidden-xs">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown active">
                                                <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/">Trang chủ</a>
                                            </li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/Book/BookList">Danh mục sách</a>
                                              @*   <ul class="dropdown-meXem chi tiết nu">
                                                    <li><a href="books-media-list-view.html">Sách</a></li>
                                                    <li><a href="books-media-gird-view-v2.html">Sách điện tử</a></li>
                                                    <li><a href="books-media-gird-view-v1.html">Tài liệu</a></li>
                                                </ul> *@
                                            </li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/LibraryTransaction/TransactionList">Quản lý mượn/trả</a>
                                               @*  <ul class="dropdown-menu">
                                                    <li><a href="news-events-list-view.html">Danh sách mượn/trả</a></li> 
                                                </ul> *@
                                            </li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/UserManagement/UserList">Độc giả</a> 
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu hidden-lg hidden-md">
                        <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                        <div id="mobile-menu">
                            <ul>
                                <li class="mobile-title">
                                    <h4>Navigation</h4>
                                    <a href="#" class="close"></a>
                                </li>
                                <li>
                                    <a href="index-2.html">Home</a>
                                    <ul>
                                        <li><a href="index-2.html">Home V1</a></li>
                                        <li><a href="home-v2.html">Home V2</a></li>
                                        <li><a href="home-v3.html">Home V3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="books-media-list-view.html">Books &amp; Media</a>
                                    <ul>
                                        <li><a href="books-media-list-view.html">Books &amp; Media List View</a></li>
                                        <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                        <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                        <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                        <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="news-events-list-view.html">News &amp; Events</a>
                                    <ul>
                                        <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                        <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="signin.html">Signin/Register</a></li>
                                        <li><a href="404.html">404/Error</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Grid View</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End: Header Section -->
    <!-- Start: Slider Section -->
    <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
        <!-- Carousel slides -->
        <div class="carousel-inner">
            <div class="item active">
                <figure>
                    <img alt="Home Slide" src="css/images/header-slider/home-v2/header-slide.jpg" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3 style="font-family:Roboto">Hệ thống quản lý mượn/trả sách</h3>
                        <h2 style="font-family:Tahoma">Thư viện thành phố Cần Thơ</h2>
@*                         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words.</p>
 *@                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="/Book/BookList" class="btn btn-primary">Danh mục sách</a>
                            <a href="/UserManagement/UserList" class="btn btn-default">Thông tin độc giả</a>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="item"> 
            </div>
            <div class="item"> 
            </div> *@
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-v1-header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-v1-header-carousel" data-slide-to="1"></li>
            <li data-target="#home-v1-header-carousel" data-slide-to="2"></li>
        </ol>
    </div>  
    <section class="features">
        <div class="container">
            <ul>
                <li class="yellow-hover">
                    <div class="feature-box">
                        <i class="yellow"></i>
                        <h3 style="font-family:sans-serif;">SÁCH</h3>
                        <p style="font-family:sans-serif">Hàng ngàn đầu sách phong phú trải dài trên nhiều lĩnh vực: từ khoa học, kinh tế, giáo dục đến giải trí, thiếu nhi và nhiều chủ đề hấp dẫn khác.</p>
                        <a class="yellow" href="/Book/BookList">
                            Xem chi tiết <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="light-green-hover">
                    <div class="feature-box">
                        <i class="light-green"></i>
                        <h3 style="font-family:sans-serif;">SÁCH ĐIỆN TỬ / TÀI LIỆU SỐ</h3>
                        <p style="font-family:sans-serif">Kho tài liệu số phong phú, bao gồm ebook, hình ảnh, video và nhiều định dạng hấp dẫn khác.</p>
                        <a class="yellow" href="/Book/BookList">
                            Xem chi tiết <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </li> 
                <li class="red-hover">
                    <div class="feature-box">
                        <i class="red"></i>
                        <h3 style="font-family:sans-serif;">TÀI LIỆU KHÁC</h3>
                        <p style="font-family:sans-serif">Thư viện phong phú với các văn bản pháp luật, chuyên đề, và đề cương đa dạng.</p>
                        <a class="yellow" href="/Book/BookList">
                            Xem chi tiết <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </li>
                
               
            </ul>
        </div>
    </section>



    <footer class="site-footer">
        <div class="container">
            <div id="footer-widgets">
                <div class="row">
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="text-2" class="widget widget_text">
                            <h3 class="footer-widget-title" style="font-family:sans-serif">THÔNG TIN THƯ VIỆN</h3>
                            <span class="underline left"></span>
                            <div class="textwidget">
                            </div>
                            <address>
                                <div class="info">
                                    <i class="fa fa-location-arrow"></i>
                                    <span>1 Phan Đình Phùng, Tân An, Ninh Kiều, Cần Thơ</span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="#">thuvien_tpct@cantho.gov.vn</a></span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <span><a href="#">0292 3820 967</a></span>
                                </div>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h3 class="footer-widget-title" style="font-family:sans-serif">Có thể bạn quan tâm</h3>
                            <span class="underline left"></span>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li><a href="#">Cổng thông tin điện tử tỉnh</a></li>
                                    <li><a href="#">Trang thông tin thư viện tỉnh</a></li>
                                    <li><a href="#">Sở Văn hoá, Thể thao và Du lịch</a></li>
                                    <li><a href="#">Hội Thư viện Việt Nam</a></li>
                                    <li><a href="#">Đại học Cần Thơ</a></li>
                                    <li><a href="#">Đài PTTH Cần Thơ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="text-4" class="widget widget_text">
                            <h3 class="footer-widget-title" style="font-family:sans-serif">Thời gian hoạt động</h3>
                            <span class="underline left"></span>
                            <div class="timming-text-widget">
                                <time datetime="2017-02-13">Thứ 2 - Thứ 6: 7 am - 5 pm</time>
                                <time datetime="2017-02-13">Thứ 7: nghỉ phục vụ</time>
                                <time datetime="2017-02-13">Chủ nhật: 7 am - 5 pm</time>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-text col-md-3">
                        <p><a target="_blank" href="https://www.templateshub.net"></a></p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <ul>
                            <li style="font-family:sans-serif"><a href="/">Trang chủ</a></li>
                            <li style="font-family:sans-serif"><a href="/Book/BookList">Danh mục sách</a></li>
                            <li style="font-family:sans-serif"><a href="/LibraryTransaction/TransactionList">Quản lý mượn/trả</a></li>
                            <li style="font-family:sans-serif"><a href="/UserManagement/NguoiDung">Độc giả</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End: Footer -->
    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="/css/js/jquery-1.12.4.min.js"></script> 
    <!-- jQuery UI -->
    <script type="text/javascript" src="/css/js/jquery-ui.min.js"></script>
    <!-- jQuery Easing -->
    <script type="text/javascript" src="/css/js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/css/js/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="/css/js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="/css/js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="/css/js/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script type="text/javascript" src="/css/js/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="/css/js/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="/css/js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="/css/js/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="/css/js/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="/css/js/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="/css/js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="/css/js/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="/css/js/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="/css/js/main.js"></script>

</body>


</html>