<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<input type="hidden" id="apiUrl" value="@ViewBag.ApiUrl" />
<div id="divcontainer"> 

    <div class="container mt-5 text-center">
        <h2>DANH MỤC SÁCH</h2>
    </div>
    <div class="container mt-5" style="margin:50px; width:100%; max-width:92%">
        <div class="row mb-3" style="margin-top:20px">
            <div class="col-md-2">
                <label style="margin:10px">Tìm kiếm: </label>
            </div>
            <div class="col-md-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm theo tên sách, tác giả, năm xuất bản...">
            </div>
            <div class="col-md-4" style="text-align:right">
                <button class="btn btn-primary mb-3" id="btnAddBook">Thêm mới sách</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th style="width:30% !important">Tên sách</th>
                    <th style="width:20% !important">Tác giả</th>
                    <th>Năm xuất bản</th> 
                    <th style="text-align:center">Thao tác</th>
                </tr>
            </thead>
            <tbody id="bookTableBody"></tbody>
        </table>
    </div>
    <!-- Modal xem chi tiết sách -->
    <div class="modal fade" id="bookDetailsModal" tabindex="-1" aria-labelledby="bookDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookDetailsModalLabel">Thông tin chi tiết sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal thêm/sửa sách -->
    <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel">Thêm sách mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bookForm">
                        <input type="hidden" id="bookId">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="mb-3 row">
                                    <label for="bookTitle" class="form-label col-md-3 col-form-label">Tên sách</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="bookTitle" required>
                                    </div>
                                </div> 
                                <div class="mb-3 row">
                                    <label for="bookAuthor" class="form-label col-md-3 col-form-label">Tác giả</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="bookAuthor" required>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="bookpublishYear" class="form-label col-md-3 col-form-label">Năm xuất bản</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="bookpublishYear" required> 
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="bookISBN" class="form-label col-md-3 col-form-label">Mã ISBN</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="bookISBN"> 
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="bookQuantity" class="form-label col-md-3 col-form-label">Số lượng</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="bookQuantity"> 
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="bookGenre" class="form-label col-md-3 col-form-label">Thể loại</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="bookGenre"></select>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="bookAbstract" class="form-label col-md-3 col-form-label">Giới thiệu</label>
                                    <div class="col-md-9"> 
                                        <textarea rows="3" type="text" class="form-control" id="bookAbstract" ></textarea>
                                    </div>
                                </div>

                            </div> 
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">Lưu</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  

</div>

<script src="~/lib/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery.min.js"></script>
<script src="~/js/Books.js"></script> 